.card {
  position: relative;
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 8px;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
}

.card h5 {
  text-align: center;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
}