.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 720px;
  min-height: 200px;
  background-color: #1C1C21;
  border: 1px solid rgba(76, 76, 255, 0.2);
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  width: 100%;
  height: 100px;
  
  align-items: center;
  justify-content: space-between;
}

.header span, .header svg {
  padding: 40px;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body h4 {
  text-align: center;
}